# -------------------------------------------------------------------
# Dependency & Environment Folders
# -------------------------------------------------------------------
node_modules/
.venv/
venv/
env/
vendor/

# -------------------------------------------------------------------
# Build & Output Folders
# -------------------------------------------------------------------
dist/
build/
out/

# -------------------------------------------------------------------
# IDE & Local Configuration Folders
# -------------------------------------------------------------------
.idea/
.vscode/
.terraform/
.terraform*
*.tfstate
*.tfstate.backup
variables.private.tfvars.json

# -------------------------------------------------------------------
# Mock Files
# -------------------------------------------------------------------
mock_gcs/
.DS_Store
.DS_Store*